<!DOCTYPE html>
<html>

<head>
  <title>Citizen</title>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">

  <h1>Appointment Scheduler</h1>

  <div ng-controller="AppointmentController as vm">
    <p ng-if="vm.appointment.id == undefined">Enter the date you would like to schedule an appointment:</p>
    <input ng-if="vm.appointment.id == undefined" type="date" ng-model="vm.selectedDate"
      ng-change="vm.searchAvailability()">

    <!-- <input type="number" ng-model="vm.selectedMonth">
    <button ng-click="vm.searchAvailabilityByMonth()">Search by Month</button> -->
    <label ng-if="vm.appointment.id == undefined">Month:</label>
    <select ng-model="vm.selectedMonth" ng-options="month.name for month in vm.months"
      ng-change="vm.searchAvailabilityByMonth()" ng-if="vm.appointment.id == undefined">
      <option value="">-- Select a month --</option>
    </select>


    <h3 ng-if="vm.timeslots.length != 0 && vm.appointment.id == undefined">Timeslots</h3><br>

    <div ng-repeat="timeslot in vm.timeslots" ng-if="vm.appointment.id == undefined" id="repeat">

      <div id="timeslots">
        {{timeslot.date}}
        {{timeslot.startingHour}}:{{timeslot.startingMinute}} -
        {{timeslot.finishHour}}:{{timeslot.finishMinute}}
        Doctor:{{timeslot.doctor.name}} {{timeslot.doctor.surname}}
        <button ng-click="vm.scheduleAppointment(timeslot)">Schedule Appointment</button>

      </div>
    </div>

    <h3 ng-show="vm.appointment.id != null">Appointments</h3><br>
    <div ng-show="vm.appointment.id != null" id="appointments">
      Date: {{vm.appointment.timeslot.date}}
      Starting Hour: {{vm.appointment.timeslot.startingHour}}
      finishHour: {{vm.appointment.timeslot.finishHour}}
      Doctor: {{vm.appointment.doctor.name}} {{vm.appointment.doctor.surname}}
      <button ng-click="vm.cancelAppointment(vm.appointment.id, vm.appointment.timeslot.id)" 
      ng-disabled="vm.citizen.timesCanceled > 2">Cancel </button>
    </div>
  </div>

  <script src="https://unpkg.com/angular@1.8.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>

  <script>
    angular.module('app', [])
      .controller('AppointmentController', function ($http) {
        var vm = this;
        vm.appointment = {};
        vm.selectedDate = '';
        vm.timeslots = []
        let citizenId = 1; // TODO change the id assignment
        vm.months = [
          { name: 'January', value: 1 },
          { name: 'February', value: 2 },
          { name: 'March', value: 3 },
          { name: 'April', value: 4 },
          { name: 'May', value: 5 },
          { name: 'June', value: 6 },
          { name: 'July', value: 7 },
          { name: 'August', value: 8 },
          { name: 'September', value: 9 },
          { name: 'October', value: 10 },
          { name: 'November', value: 11 },
          { name: 'December', value: 12 }
        ];

        getCitizen();
        getAppointment();
        // vm.citizen = $stateParams.citizen;

        vm.searchAvailability = function () {
          $http.get('http://localhost:8080/timeslot/searchByDate', {

            params: {
              date: vm.selectedDate.toISOString().slice(0, 10)
            }
          }).then(function (response) {
            console.log(response.data)
            vm.timeslots = response.data;
          });
        };

        vm.searchAvailabilityByMonth = function () {
          console.log(vm.selectedMonth.value)

          $http.get('http://localhost:8080/timeslot/searchByMonth', {
            params: {
              month: vm.selectedMonth.value
            }
          }).then(function (response) {
            console.log(response.data)
            vm.timeslots = response.data;
          });
        };

        vm.cancelAppointment = function (appointmentId, timeslotId) {
          console.log({ "appointmentId": appointmentId, "timeslotId": timeslotId });
          $http.delete('http://localhost:8080/appointments/cancelAppointment', {
            params: { appointmentId: appointmentId, "timeslotId": timeslotId }
          }).then(function (response) {
            alert("Appointment canceled");
            vm.appointment = null;
            vm.citizen.timesCanceled++;

          });
        };

        vm.scheduleAppointment = function (timeslot) {
          $http.post('http://localhost:8080/appointments/createAppointment', {
            date: vm.selectedDate,
            timeslot: timeslot,
            citizen: vm.citizen,
            doctor: timeslot.doctor
          }).then(function (response) {
            vm.appointment = response.data;
            alert('Your appointment has been scheduled for ' + vm.appointment.date + ' at ' +
              timeslot.startingHour + ": " + timeslot.startingMinute);
            console.log(vm.appointment)
          });
        };

        function getCitizen() {
          $http.get('http://localhost:8080/citizen/getById', {
            params: {
              id: citizenId
            }
          }).then(function (response) {
            console.log(response.data)
            vm.citizen = response.data;
          });
        }

        function getAppointment() {

          $http.get('http://localhost:8080/appointments/citizen', {
            params: {
              citizenId: citizenId
            }
          }).then(function (response) {
            console.log(response.data)
            vm.appointment = response.data;
          });
        }
      });
  </script>
</body>

</html>